.Zebra_DatePicker {
    background: #666;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #888;
    color: #222;
    font: 13px Tahoma, Arial, Helvetica, sans-serif;
    padding: 3px 3px;
    position: absolute;
    display: table;
    *width: 255px;
    z-index: 1200;
}

.Zebra_DatePicker *,
.Zebra_DatePicker *:after,
.Zebra_DatePicker *:before {
    box-sizing: content-box !important;
}

.Zebra_DatePicker * {
    padding: 0;
}

.Zebra_DatePicker table {
    border-collapse: collapse;
    border-radius: 4px;
    border-spacing: 0;
    width: 100%;
}

.Zebra_DatePicker th, .Zebra_DatePicker td {
    padding: 3px;
    cursor: pointer;
    text-align: center;
    min-width: 25px;
    width: 25px;
}

.Zebra_DatePicker .dp_body th, .Zebra_DatePicker .dp_body td {
    border: 1px solid #bfbfbf;
}

.Zebra_DatePicker .dp_body th:first-child, .Zebra_DatePicker .dp_body td:first-child {
    border-left: none;
}

.Zebra_DatePicker .dp_body th:last-child, .Zebra_DatePicker .dp_body td:last-child {
    border-right: none;
}

.Zebra_DatePicker .dp_body tr:first-child th,
.Zebra_DatePicker .dp_body tr:first-child td {
    border-top: none;
}

.Zebra_DatePicker .dp_body tr:last-child th,
.Zebra_DatePicker .dp_body tr:last-child td {
    border-bottom: none;
}

.Zebra_DatePicker .dp_body td {
    background: #e6e5e5;
}

.Zebra_DatePicker .dp_body .dp_weekend {
    background: #d6d6d6;
}

.Zebra_DatePicker .dp_body .dp_not_in_month {
    background: #e0e6f2;
    color: #98acd4;
}

.Zebra_DatePicker .dp_body .dp_current {
    color: #cc236b;
}

.Zebra_DatePicker .dp_body .dp_selected {
    background: #b56a6a;
    color: #fff;
}

.Zebra_DatePicker .dp_body .dp_disabled {
    background: #f2f2f2;
    color: #cccccc;
    cursor: text;
}

.Zebra_DatePicker .dp_body .dp_disabled.dp_current {
    color: #b56a6a;
}

.Zebra_DatePicker .dp_body .dp_hover {
    color: #fff;
    background: #88a09e;
}

.Zebra_DatePicker .dp_body .dp_hover.dp_time_control {
    background-color: #8c8c8c;
    color: #fff;
}

.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_yearpicker td,
.Zebra_DatePicker .dp_timepicker td {
    width: 33.3333%;
}

.Zebra_DatePicker .dp_timepicker .dp_disabled {
    border: none;
    color: #222;
    font-size: 39px;
    font-weight: bold;
}

.Zebra_DatePicker .dp_time_separator div {
    position: relative;
}

.Zebra_DatePicker .dp_time_separator div:after {
    content: ":";
    color: 1px solid #bfbfbf;
    font-size: 37px;
    left: 100%;
    position: absolute;
    z-index: 1;
}

.Zebra_DatePicker .dp_header {
    margin-bottom: 3px;
}

@supports (-ms-ime-align: auto) {
    .Zebra_DatePicker .dp_header {
        font-family: 'Segoe UI Symbol', Tahoma, Arial, Helvetica, sans-serif;
    }
}

.Zebra_DatePicker .dp_footer {
    margin-top: 3px;
}

.Zebra_DatePicker .dp_footer .dp_icon {
    width: 50%;
}

.Zebra_DatePicker .dp_actions td {
    border-radius: 4px;
    color: #fff;
}

.Zebra_DatePicker .dp_actions .dp_caption {
    font-weight: bold;
    width: 100%;
}

.Zebra_DatePicker .dp_actions .dp_previous,
.Zebra_DatePicker .dp_actions .dp_next {
    *padding: 0 10px;
}

.Zebra_DatePicker .dp_actions .dp_hover {
    background-color: #8c8c8c;
    color: #fff;
}

.Zebra_DatePicker .dp_daypicker th {
    background: #ffcc33;
    cursor: text;
    font-weight: bold;
}

.Zebra_DatePicker.dp_hidden {
    display: none;
}

.Zebra_DatePicker .dp_icon {
    height: 18px;
    background-image: url("icons.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    *text-indent: 0;
}

.Zebra_DatePicker .dp_icon.dp_confirm {
    background-position: center -123px;
}

.Zebra_DatePicker .dp_icon.dp_view_toggler {
    background-position: center -91px;
}

.Zebra_DatePicker .dp_icon.dp_view_toggler.dp_calendar {
    background-position: center -59px;
}

button.Zebra_DatePicker_Icon {
    background: url("icons.png") no-repeat center top;
    border: none;
    cursor: pointer;
    display: block;
    height: 18px;
    line-height: 0;
    padding: 0;
    position: absolute;
    text-indent: -9000px;
    width: 16px;
}

button.Zebra_DatePicker_Icon.Zebra_DatePicker_Icon_Disabled {
    background-position: center -32px;
    cursor: default;
}
